body {
  margin: 0;
}
.boardPart {
  width: calc(100% - 70px);
  left: 70px;
  margin-left: auto;
  transition: all 0.3s ease-in-out;
}
.boardPartAct {
  width: calc(100% - 300px);
  left: 300px;
  margin-left: auto;
  transition: all 0.3s ease-in-out;
}
.board {
  width: 100%;
  overflow-x: hidden;
}
.dop {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  /* margin: 1em 0 0em; */
}

.dTit h2 {
  color: var(--Gray-900, #101828);
  font-family: "Inter", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 38px;
  margin: 0 0 0.4em;
}
.dTit p {
  color: var(--Gray-600, #475467);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
}

.method {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  position: relative;
}
.method .input {
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  border-radius: 8px;
  border: 1px solid var(--Gray-300, #d0d5dd);
  background: var(--Base-White, #fff);
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  color: var(--Gray-700, #344054);
}
.method .input input {
  border: none;
  height: 100%;
  width: 80%;
  outline: none;
}
.method .search {
  font-size: 21px;
}
.method button {
  cursor: pointer;
  display: flex;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 142.857% */
}
.method button:nth-child(1) {
  border-radius: 8px;
  border: 1px solid var(--Gray-300, #d0d5dd);
  background: var(--Base-White, #fff);
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  color: var(--Gray-700, #344054);
}
.method button:nth-child(2) {
  border-radius: 8px;
  border: 1px solid #0e0e0e;
  background: #0e0e0e;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  color: var(--Base-White, #fff);
}

.sTop {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 1em;
}

.sTit h2 {
  color: var(--Gray-900, #101828);
  font-family: "Inter", sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: 38px;
  margin: 0 0 1em;
}

.topOpt {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 8px;
  border: 1px solid var(--Gray-300, #d0d5dd);
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}

.topOpt p {
  display: flex;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-right: 1px solid var(--Gray-300, #d0d5dd);
  color: var(--Gray-800, #1d2939);
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  margin: 0;
}
.gDot {
  width: 10px;
  height: 10px;
  background-color: #17b26a;
  border-radius: 100%;
}

.topOpt p:last-child {
  border-right: none;
}

.top {
  border-bottom: 1px solid rgba(11, 119, 197, 0.24);
  background: #fff;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.25);
  height: 85px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 0 2em; */
}

.top h2 {
  margin-left: 1.3em;
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.top h2 p {
  color: #0d6baf;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.top > div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
}

.top > div img {
  width: 44px;
  height: 44px;
}

.boardBody {
  background: #fff;
  padding: 1em;
}

.dashActivity {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.dashboardDetails {
  width: 95%;
}
.dDTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1em;
}
.tRev {
  border-radius: 12px;
  border: 1px solid var(--Gray-200, #eaecf0);
  background: var(--Base-White, #fff);
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  padding: 1em 0;
  width: 32%;
}

.reTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1em;
  color: var(--Gray-600, #475467);
}
.reTop p {
  color: var(--Gray-600, #475467);
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  margin: 0;
}
.reMid {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1em;
  margin: 1em 0 2em;
}

.reMid h3 {
  color: var(--Gray-900, #101828);
  font-family: "Inter", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 38px;
  margin: 0;
}

.dDBot {
  padding: 1em;
  border-radius: 12px;
  border: 1px solid var(--Gray-200, #eaecf0);
  background: var(--Base-White, #fff);
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}

.mR {
  display: flex;
  padding: 2px 5px 2px 8px;
  align-items: center;
  gap: 4px;
  border-radius: 16px;
  border: 1px solid var(--Success-200, #abefc6);
  background: var(--Success-50, #ecfdf3);
  mix-blend-mode: multiply;
  color: var(--Success-700, #067647);
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  margin: 0;
}

.reBot {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0;
  padding: 0 1em;
}

.reBot p {
  color: #0e0e0e;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  margin: 1em 0 0;
}

.tabTil {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.tabTil p {
  color: var(--Gray-900, #101828);
  margin: 0;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 155.556% */
}
.tabTil button {
  display: flex;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  border: 1px solid var(--Gray-300, #d0d5dd);
  background: var(--Base-White, #fff);
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}
.tabDate {
  width: 350px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1em;
  border-bottom: 1px solid var(--Gray-200, #eaecf0);
}
.tabDate p {
  color: var(--Gray-500, #667085);
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  margin: 0;
  padding-bottom: 0.6em;

  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.tabDate p:hover {
  color: #0e0e0e;
  transition: all 0.3s ease-in-out;
}
.tabDate p:nth-child(1) {
  padding-bottom: 0.8em;
  border-bottom: 2px solid #0e0e0e;
  color: #0e0e0e;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}

.activity {
  width: 240px;
}

.actTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1em;
}

.actTop h2 {
  color: var(--Gray-900, #101828);
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  margin: 0;
}
.actTop p {
  color: var(--Gray-600, #475467);
  margin: 0;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 142.857% */
}

.acMem {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.6em;
  margin-bottom: 1em;
}
.acMem img {
  border-radius: 200px;
  border: 0.5px solid var(--Gray-900, #101828);
  /* opacity: 0.08; */
  width: 32px;
  height: 32px;
}
.mName {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mName h2 {
  color: var(--Gray-700, #344054);
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  margin: 0;
}
.memDetail p span {
  color: #0e0e0e;
  margin: 0;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  margin-left: 0.5em;
}

.memDetail p {
  color: var(--Gray-600, #475467);
  margin: 0;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}
.memDetail h4 {
  color: #0e0e0e;
  margin: 0;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

@media (max-width: 900px) {
  .boardPartAct {
    width: calc(100% - 70px);
    margin-left: auto;
    transition: all 0.3s ease-in-out;
  }
  .boardPart {
    width: calc(100% - 70px);
    margin-left: auto;
    transition: all 0.3s ease-in-out;
  }
}

@media (max-width: 600px) {
  .dop {
    flex-direction: column;
    gap: 2em;
  }
}
